
h1 {
	font-family: 'IM Fell Double Pica', serif;
	color: #83a770;
	text-align: center;
	padding-top: 50px;
	font-size: 3.5em;
}

h2 {
	font-family: 'IM Fell Double Pica', serif;
	color: #83a770;
	text-align: center;
	padding-top: 20px;
	font-size: 1.3em;
}

.panel {
	display: flex;
	align-items: stretch;
	margin-top: 50px;
	margin-bottom: 200px;
}

.panel > div {
  	width: 15vw;
  	text-align: center;
}

.nav {
	flex-grow: 1;
	box-shadow: 5px 5px 15px #868180
	;
}

.pernilleJensen {
	width: 100%;
	font-size: 1.5em;
	text-align: left;
	margin-left: 20%;
	margin-top: 5%;
}

.nav ul {
	list-style-type: none;
	margin-left: 15%;
	text-align: left;
	padding-top: 20%;
}

.nav a {
	font-family: 'IM Fell Double Pica', serif;
	font-size: 1.5em;
	text-decoration: none;
	color: #83a770;
}

a:hover {
	color: #c8d8aa;
}

.hiMouse img {
	margin-left: 15%;
	margin-top: 0;
	width: 80%;
}

.image_off, .hiMouse:hover .image_on{
   display: none;
}

.image_on, .hiMouse:hover .image_off{
   display: block;
}

.carouselSlide {
	flex-grow: 8;
	margin-left: 20px;
	margin-right: 20px;
}

.carousel-indicators li {
	width: 6px;
	height: 6px;
	border-radius: 50%;
}

.carousel-indicators {
	margin-bottom: 0.1rem;
}

.rightPanel {
	flex-grow: 1;
	box-shadow: -5px 5px 15px #868180;
}

.rightPanel img {
	margin-top: 30%;
	height: 60%;
}

.colorBlock1 {
	height: 300px;
	background-color: white;
	margin-top: 20px;
	opacity: 1;
}

.mice {
	display: block;
	
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.mice img {
	display: inline-block;
	width: 18%;
	border-radius: 50%;
	padding: 20px;
}

.about {
	background-image: url("Images/FlowerBackground2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	text-align: center;
}

.photo {
	display: inline-block;
	height: 150px;
	margin-top: 12vh;
}

p {
	font-family: 'Rajdhani', sans-serif;
	margin-left: auto;
	margin-right:auto;
}

.about p {
	font-family: 'IM Fell Double Pica', serif;
	width: 35%;
	background-color: rgba(255, 255, 255, 0.5);
	margin-top: 50px;
	color: rgba(91, 116, 78, 1);
	font-weight: 600;
	padding: 20px;
	box-shadow: 5px 5px 15px #868180;
	border: 3px solid white;
	text-align: justify;
}

.about p span {
	font-size: 1.5em;
}

.contact {
	background-image: url("Images/PernilleJensen-GraphicWork9.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	text-align: center;
}

.contact p {
	font-family: 'IM Fell Double Pica', serif;
	color: #83a770;
	font-weight: 600;
	text-align: center;
	font-size: 1.6em;
	margin-top: 25px;
	padding-bottom: 20px;
	border-bottom: 3px solid white;
}

.links {
	display: inline-block;
	width: 30%;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
	box-shadow: 5px 5px 15px #868180;
	margin-top: 30vh;
	border: 3px solid white;
}

.links img {
	display: inline-block;
	height: 40px;
	opacity: none;
	margin-bottom: 25px;
	margin-top: 20px;
	opacity: 1.0;
}

.links img:hover {
	opacity: 0.5;
}

.links a {
	text-decoration: none;
}

footer {
	left: 0;
    bottom: 0;
    width: 100%;   
}

footer p {
	text-align: center;
}

@media only screen and (max-width: 1050px) {
	.pernilleJensen {
		font-size: 1em;
	}

	.nav ul {
		font-size: 0.7em;
	}
}