
h1 {
	font-family: 'IM Fell Double Pica', serif;
	color: #83a770;
	text-align: center;
	padding-top: 3vh;
	font-size: 2.3em;
	font-weight: 400;
}

h2 {
	font-family: 'IM Fell Double Pica', serif;
	color: #83a770;
	text-align: center;
	padding-top: 0;
	font-size: 1em;
}

.nav {
	display: inline-block;
	position: fixed;
	left: 0;
	top: 20vh;
	z-index: 1;
}

.nav ul {
	list-style-type: none;
	line-height: 2.5em;
	text-align: left;
	padding-top: 20%;
	padding-left: 0;
}

.nav a {
	font-family: 'IM Fell Double Pica', serif;
	font-size: 1.3em;
	text-decoration: none;
	color: #83a770;
	background-color: #fadeef;
	padding: 0 5px 0 40px;
}

.nav a:hover {
	color: #c8d8aa;
	border-right: 3px solid white;
}

#top-menu li.active a {
    color: #c8d8aa;
	border-right: 3px solid white;
}

.panel {
	display: flex;
	align-items: stretch;
}

.leftScreen {
	box-shadow: 5px 5px 15px #868180;
}

.leftScreen img {
	width: 20vw;
	height: 100%;
}

.carouselSlide {
	margin: 10px;
}

.carousel-indicators li {
	width: 6px;
	height: 6px;
	border-radius: 50%;
}

.carousel-indicators {
	margin-bottom: 0.1rem;
}

.rightScreen {
	box-shadow: -5px 5px 15px #868180;
}

.rightScreen img {
	width: 20vw;
	height: 100%;
}

.miceOnARow {
	display: block;
	text-align: center;
	margin-top: 15px;
}

.miceOnARow img {
	width: 70vw;
	display: inline-block;
	border-bottom: 50px solid #fadeef;
}

#drawings {
	height: 100vh;
	box-sizing: border-box;
}

.row {
	width: 70vw;
	margin: 10vh auto;
	border-top: 5px solid #fadeef;
	border-bottom: 5px solid #fadeef;
}

.row > .column {
	padding: 35px 15px;
}

.row > .column > img {
	cursor: pointer;
}

.row .column img:hover {
	filter: opacity(50%);
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	width: 33%;
}

.column img {
	width: 100%;
}

/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 3;
	padding-top: 10vh;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.7);
}
  
/* Modal Content */
.modal-content {
	position: relative;
	width: 45vw;
	margin: auto;
	height: 50%;

}

/* The Close Button */
.close {
	color: #83a770;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 4em;
	font-weight: bold;
}
  
.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}
  
.mySlides {
	display: none;
}

.mySlides img {
	width: 45vw;
	position: relative;
	top: -1px;
	left: -1px;
}

.about {
	background-image: url("Images/FlowerBackground2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	text-align: center;
}

.hiMouse img {
	width: 20vw;
	margin: 5vh 0 0 10vw;
	position: absolute;
}

.image_off, .hiMouse:hover .image_on{
   display: none;
}

.image_on, .hiMouse:hover .image_off{
   display: block;
}

.photo {
	display: block;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15vh;
}

.aboutText {
	display: inline-block;
	width: 40%;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
	box-shadow: 5px 5px 15px #868180;
	border: 3px solid white;
	font-family: 'IM Fell Double Pica', serif;
	margin-top: 50px;
}

.about h3 {
	font-size: 1.5em;
	font-weight: 600;
	color: rgba(131, 167, 112, 1);
	margin-top: 25px;
	padding-bottom: 20px;
	border-bottom: 3px solid white;
}

.about p {
	color: rgba(91, 116, 78, 1);
	text-align: justify;
	padding: 0 20px;
}

.contact {
	background-image: url("Images/PernilleJensen-GraphicWork9.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	text-align: center;
}

.contactBlock {
	display: inline-block;
	width: 30%;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
	box-shadow: 5px 5px 15px #868180;
	margin-top: 30vh;
	border: 3px solid white;
}

.contact p {
	font-family: 'IM Fell Double Pica', serif;
	color: #83a770;
	font-weight: 600;
	text-align: center;
	font-size: 1.6em;
	margin-top: 25px;
	padding-bottom: 20px;
	border-bottom: 3px solid white;
}

.contactBlock img {
	display: inline-block;
	height: 40px;
	margin-bottom: 25px;
	margin-top: 20px;
	opacity: 1.0;
}

.contactBlock img:hover {
	opacity: 0.5;
}

.contactBlock a {
	text-decoration: none;
}

footer {
	left: 0;
    bottom: 0;
	width: 100%;   
}

footer p {
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	color: grey;
	margin-bottom: 0;
}

@media only screen and (max-width: 1366px) {
	.miceOnARow img {
		width: 90vw;
	}	

	.row {
		width: 75vw;
		margin: 15px auto;
		border-top: none;
	}

	#drawings {
		height: auto;
	}
}

@media only screen and (max-width: 770px) {
	.nav {
		z-index: 2;
		top: 10vh;
	}

	.nav a {
		padding-left: 15px;
	}

	.minusMobile {
		display: none;
	}

	.carousel-indicators {
		z-index: 2;
	}

	#drawings {
		height: auto;
	}

	.modal {
		padding-top: 20vh;
	}

	.close {
		top: 15vh;
		opacity: 0.8;
	}

	.modal-content {
		width: 80vw;
		height: 30%;
	}

	.mySlides img {
		width: 80vw;
	}

	.photo {
		width: 120px;
		padding-top: 5vh;
	}
	
	.aboutText {
		width: 70vw;
	}
	
	.about h3 {
		font-size: 1.5em;
	}

	.hiMouse img {
		width: 40vw;
		margin: 60vh 0 0 50vw;
		position: absolute;
	}

	.contactBlock {
		width: 50vw;
	}
}

@media only screen and (max-width: 414px) {
	.nav a {
		padding-left: 10px;
		font-size: 1.1rem;
	}

	.carouselSlide {
		margin: 0;
	}

	.panel {
		margin-bottom: 20px;
	}

	.leftScreen, .rightScreen {
		display: none;
	}
	
	.miceOnARow img {
		border-bottom: 25px solid #fadeef; 
	}

	#drawings {
		height: 40vh;
	}

	.row {
		width: 90vw;	
	}
		
	.row > .column {
		padding: 10px 5px;
	}

	.modal {
		padding-top: 25vh;
	}

	.close {
		top: 15vh;
	}

	.hiMouse {
		display: none;
	}

	.photo {
		width: 25%;
		padding-top: 50px;
	}

	.aboutText {
		width: 90vw;
		margin-top: 20px;
	}

	.about h3 {
		font-size: 1.3em;
	}

	.contactBlock {
		width: 90vw;
	}
}

@media only screen and (max-width: 320px) {
	.photo {
		padding-top: 5vh;
	}

	.aboutText {
		margin-top: 10px;
	}

	.about h3 {
		font-size: 1em;
		margin-top: 10px;
		padding-bottom: 10px;
	}

	.about p {
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 823px) and (orientation: landscape) {
	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 0.7rem;
	}

	.nav {
		top: 15vh;
	}

	.nav a {
		padding-left: 10px;
	}

	.minusMobile {
		display: inline;
	}

	.panel {
		width: 70vw;
		height: auto;
		margin: 0 auto;
	}

	.leftScreen {
		box-shadow: 5px 5px 5px #ada6a5;
	}

	.leftScreen img, .rightScreen img {
		width: 15vw;
	}

	.carouselSlide {
		margin: 5px;
	}

	.rightScreen {
		box-shadow: -5px 5px 5px #ada6a5;
	}

	.miceOnARow {
		margin-top: 7px;
	}

	.miceOnARow img {
		width: 75vw;
		border-bottom: 25px solid #fadeef;
	}

	#drawings {
		height: auto;
	}

	.row {
		width: 70vw;
		height: auto;
	}

	.row > .column {
		padding: 20px 20px;
	}

	.column {
		width: 33%;
	}

	.modal {
		padding-top: 4vh;
	}

	.close {
		top: 0;
	}

	.modal-content {
		width: 40vw;
		height: 30%;
	}

	.mySlides img {
		width: 40vw;
	}

	.hiMouse {
		display: none;
	}

	.photo {
		width: 80px;
		padding-top: 30px;
	}

	.aboutText {
		width: 85vw;
		margin-top: 10px;
		padding: 20px;
	}

	.about h3 {
		font-size: 1.3em;
		margin-top: 10px;
		padding-bottom: 10px;
	}

	.contactBlock {
		margin-top: 20vh;
	}
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
	.nav a {
		font-size: 1em;
	}

	.nav ul {
		line-height: 1.8em;
	}
	.panel {
		width: 100vw;
		height: auto;
	}

	.leftScreen img, .rightScreen img {
		width: 20vw;
	}

	.row {
		width: 82vw;
	}

	.row > .column {
		padding: 10px 10px;
	}

	.modal-content {
		width: 50vw;
		height: 30%;
	}

	.mySlides img {
		width: 50vw;
	}

	.aboutText {
		width: 90vw;
	}

	.about h3 {
		font-size: 1rem;
	}
	
	.aboutText p {
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
	h1 {
		font-size: 1.2rem;
	}

	h2 {
		font-size: 0.5rem;
	}

	.photo {
		padding-top: 15px;
	}	
	
	.about h3 {
		display: none;
	}

	.aboutText {
		width: 80vw;
		padding: 10px;
	}

	.about p {
		padding: 0 10px;
	}

	.contact p {
		font-size: 1.2em;
		margin-top: 15px;
		padding-bottom: 10px;
	}

	.contactBlock img {
		height: 30px;
		margin-bottom: 15px;
		margin-top: 10px;
	}
}